.main.svelte-sl1wuh{margin:100px auto auto}.contant_box.svelte-sl1wuh{margin:auto auto 50px;width:70%;height:300px;text-align:center}.contant_text.svelte-sl1wuh{white-space:normal;font-family:malgun}
